<div class="col-md-8">
    <form>
        <div class="form-group">
            <label class="control-label" for="title"></label>
            <input type="text" id="title" class="form-control" placeholder="Title" data-ng-model="vm.entity.title" />
        </div>
        <div class="form-group">
            <label class="control-label" for="content"></label>
            <textarea data-app-editor id="content" cols="80" rows="10" data-ng-model="vm.entity.content"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" data-ng-disabled="isSubmitDisabled || !vm.entity.title || !vm.entity.content" data-ng-click="vm.addEntity(vm.entity)" />
        </div>
    </form>
</div>
