<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="AppDb" connectionString="Server=.;Database=App;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{DOCUMENT_ROOT}{URL}" matchType="IsFile" ignoreCase="false"/>
            <add input="{DOCUMENT_ROOT}{URL}" matchType="IsDirectory" ignoreCase="false"/>
          </conditions>
          <action type="None"/>
        </rule>
        <rule name="Imported Rule 2">
          <match url="^" ignoreCase="false"/>
          <action type="Rewrite" url="/index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>